.displayContainer_1 svg path {
    fill: #FFF;
    transition: fill .4s ease-out; 
}

#startbutton {
    background: green;
    font-size: 24px;
    border-radius: 10px;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

h1 {
   text-align: center;
   font-family: Sans-Serif;
}

.col-8{
    text-align:left;
}

body {
    text-align: center;
}

nav {
    background: #444444;
    color: #ffffff;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
    text-decoration: none;
}