.displayContainer_1 {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    width: 85%;    
}

.displayContainer_1 svg path {
    fill: #FFF;
    transition: fill .4s ease-out; 
}

#startbutton {
    background: green;
    font-size: 24px;
    border-radius: 10px;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}