:root {
    --black:#040303;
    --white:#FAFAFF;
    --blue:#6279B8;
    --darkblue:#49516F;
    --greyblue:#30343F;
}

body {
    font-family: Sans-Serif;
    margin: auto;
    text-align: center;
    background: var(--white);
}

.top_bar{
    text-align: center;
    background: var(--greyblue);
    height: 15%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    width: 100%;
}

h1 {
    text-align: center;
    background: var(--greyblue);
    height: 15%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    text-align: center;
    background: var(--greyblue);
    height: 5%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: var(--black);
    text-decoration: none;
    background: var(--white);
    padding: 5%;
    margin: 5%;
    font-size: 18px;
}

form {
    text-align: center;
}

.words {
    opacity: 0;
    font-family: Sans-Serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    transition: all .7s ease 0s;
    white-space: pre-line;
}

.letter{
    background: #444448;
    color: white;
    line-height: 1.25;
    font-size: 18px;
    box-shadow: 0 0 5px 2px #aaa;
    border-radius: 5%;
    flex-grow: 1;
}

.placeholder{
    flex-grow: 1;
}

.key {
    font-size: 24px;
    border-radius: 18%;
}
