<html>
<head>
    <title> Cookie Clicker</title>
    <link rel="stylesheet" type="text/css" href="css/cookies.css">
</head>
<h1>Cookie Clicker</h1>

Cookies:
<div id="cookies">0 cookies</div>

<button onclick="yum()">Make a cookie</button>
</html>


<script>
    var session = "{{oauth}}";
    console.log("session = " + session);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/cookies.js"></script>

