<!DOCTYPE html>

<head>
	<title> Funpage </title>
	<link rel="stylesheet" type="text/css" href="css/funpage{{theme}}.css">
</head>

<html>
	<ul class="nav">
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Nav 1</a>
		<a href="#">Nav 2</a>
		<a href="#">Nav 3</a>
	</ul>
	<br>

	<body>
		<div class="textbox">
			text
		</div>

		<div class="textbox">
			<p>The intent is to provide players with a sense of pride and accomplishment for unlocking different heroes.</p>

			<p >As for cost, we selected initial values based upon data from the Open Beta and other adjustments made to milestone rewards before launch. Among other things, we’re looking at average per-player credit earn rates on a daily basis, and we’ll be making constant adjustments to ensure that players have challenges that are compelling, rewarding, and of course attainable via gameplay.</p>

			<img style="height: 20%; width: 20%;" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shelterluv.com%2Fsites%2Fdefault%2Ffiles%2Fanimal_pics%2F464%2F2016%2F11%2F25%2F22%2F20161125220040.png&f=1"></img>

			<p>We appreciate the candid feedback, and the passion the community has put forth around the current topics here on Reddit, our forums and across numerous social media outlets.</p>

			<p>Our team will continue to make changes and monitor community feedback and update everyone as soon and as often as we can.</p>


		</div>
		
		<div class="updown">
			a has been pressed 0 times.
		</div>

	</body>
</html>
