<head>
    <title> Homepage </title>
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <h1> Labs:</h1>
</head>
<body>
    <div class="flexbox">
        <div class="col">
            <div class="lab">
                Map:
                <br>
                <div class="button">
                    <a href="https://user.tjhsst.edu/2020mkhan/map">Map</a>
                </div>
            </div>
            
            <div class="lab">
                Scrabble:
                <br>
                <div class="button">
                    <a href="https://user.tjhsst.edu/2020mkhan/Scrabble">Scrabble</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="lab">
                Login:
                <br>
                https://user.tjhsst.edu/2020mkhan/login?user=username 
            </div>
        </div>
        <div class="col">
            <div class="lab">
                Content: 
                <br>
                https://user.tjhsst.edu/2020mkhan/content
            </div>
        </div>
        <div class="col">
            <div class="lab">
                Content: 
                <br>
                https://user.tjhsst.edu/2020mkhan/
            </div>
        </div>
    </div>
</body>