<head>
    <title>Scrabble</title>
	<link rel="stylesheet" type="text/css" href="css/scrabble.css">
</head>
<body>
    <h1>Scrabble</h1>
    <form onsubmit="return go()">
        Enter your letters: <br>
        <input type="text" id="letters"></input>
    </form>
    
    <div id="words" class="words">
    </div>
</body>
<script type="text/javascript" src="js/scrabble.js"></script>