<head>
    <title> Wiki </title>
    <link rel="stylesheet" type="text/css" href="css/wiki.css">
    <h1> 
            Wiki:
    </h1>
</head>
<body>
    <div class="wiki" contenteditable="true" id="wiki_body" onKeyPress="keypressed"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/wiki.js"></script>
<script>
    load("{{oauth}}");
</script>